*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Lato", Arial, sans-serif;
}

body {
    height: 100vh;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    display: flex;
}

.container {
    display: flex;
}

.card {
    height: 300px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    border-radius: 3rem;
    overflow: hidden;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 3rem;
}

.intro {
    height: 70px;
    width: 300px;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 3rem;
    position: absolute;
    bottom: 200px;
    background: rgba(27, 27, 27, 0.5);
    color: bisque;
    transition: 1s;
}

h1 {
    margin: 10px;
    font-size: 20px;
}

p {
    font-size: 20px;
    margin:  20px;
    visibility: hidden;
    opacity: 0;
}

.card:hover {
    transition: 1s;
    cursor: pointer;
}

.card:hover .intro {
    height: 150px;
    bottom: 200px;
    background: rgba(0, 0, 0, 0.297);
}

.card:hover p {
    transition: 2.5s;
    opacity: 1;
    visibility: visible;
}

.card:hover img {
    transform: scale(1.05) rotate(-2.05deg);
    transition: 0.5s;
}

/* .heading h1::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 20px;
    width: 10px;
    height: 2px;
    background: bisque;
    transition: 1s;
}

.heading h1:hover::before {
    width: 10%;
} */